* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Main {
    background-color: #221e2b;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Textbox {
    display: flex;
    width:60%;
    height:60%;

    color: blanchedalmond;
    background-color: #131218;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}