* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Main{
    background-color: #221e2b;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Content{
    background-color: #6b718a;
    width: 40vw;
    height: 45vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: blanchedalmond;
}

.ContentBox{
    width: 35vw;
    height: 45vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    color: blanchedalmond;
}

.Box1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b718a;
    height: 13vh;
}

.Box2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #677c83;
    height: 13vh;
}

.Box3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #698b7e;
    height: 13vh;
}